<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="/images/logo400x400.png" class="sidebar-logo">
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

    </ul>

    <div class="svg-links">
      <ul>
        <li>
          <a href="https://bsky.app/profile/unnamedre.com" target="_blank">
            <img height="32" width="32" src="/public/icons/bluesky.svg" />
          </a>
        </li>
        <li>
          <a href="http://reverseengineering.libsyn.com/rss" target="_blank">
            <img height="32" width="32" src="/public/icons/rss.svg" />
          </a>
        </li>
        <li>
          <a href="https://itunes.apple.com/us/podcast/unnamed-reverse-engineering-podcast/id1271619982?mt=2&ls=1" target="_blank">
            <img height="32" width="32" src="/public/icons/podcasts.svg" />
          </a>
        </li>
        
      </ul>
      <ul>
        <li>
          <a rel="me" href="https://infosec.exchange/@unnamedre"  target="_blank">
            <img height="32" width="32" src="/public/icons/mastodon.svg" />
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/@UnnamedReShow" target="_blank">
            <img height="32" width="32" src="/public/icons/youtube.svg" />
          </a>
        </li>
        <li>
          <a href="https://open.spotify.com/show/3Es8rRuFBFeORLjVCuc5dM?si=cGB6VBLLSLewk4umk_R_tA" target="_blank">
            <img height="32" width="32" src="/public/icons/spotify.svg" />
          </a>
        </li>
      </ul>
    </div>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
